# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.playground/*
!*.playground/Contents.swift
!*.playground/contents.xcplayground

# Build
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Secrets
Config.swift
*.secret

# macOS
.DS_Store

# TDLib files
td_api.json
*.tgz
